<!-- Apk Information -->
<div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">

        <div class="card">
          <div class="card-body">
            <h5 class="card-title"></h5>
              <div class="row">
              <div class="col-6">
                <p><strong><svg class="svg-inline--fa fa-box-open" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="box-open" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512" data-fa-i2svg=""><path fill="currentColor" d="M75.23 33.4L320 63.1L564.8 33.4C571.5 32.56 578 36.06 581.1 42.12L622.8 125.5C631.7 143.4 622.2 165.1 602.9 170.6L439.6 217.3C425.7 221.2 410.8 215.4 403.4 202.1L320 63.1L236.6 202.1C229.2 215.4 214.3 221.2 200.4 217.3L37.07 170.6C17.81 165.1 8.283 143.4 17.24 125.5L58.94 42.12C61.97 36.06 68.5 32.56 75.23 33.4H75.23zM321.1 128L375.9 219.4C390.8 244.2 420.5 255.1 448.4 248L576 211.6V378.5C576 400.5 561 419.7 539.6 425.1L335.5 476.1C325.3 478.7 314.7 478.7 304.5 476.1L100.4 425.1C78.99 419.7 64 400.5 64 378.5V211.6L191.6 248C219.5 255.1 249.2 244.2 264.1 219.4L318.9 128H321.1z"></path></svg><!-- <i class="fas fa-box-open"></i> Font Awesome fontawesome.com --> 파일 정보</strong></p>
                <span class="badge bg-primary">File Name</span>
                {{ step1['apkfile'] }}<br>
                <span class="badge bg-primary">Size</span>
                {{ step1['file_size'] }}<br>
                <span class="badge bg-primary">MD5</span>
                {{ step1['hash_list'][0] }}<br>
                <span class="badge bg-primary">SHA1</span>
                {{ step1['hash_list'][1] }}<br>
                <span class="badge bg-primary">SHA256</span>
                {{ step1['hash_list'][2] }}<br>
              </div>
              <div class="col-4">
                <p><strong><svg class="svg-inline--fa fa-info" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="info" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 192 512" data-fa-i2svg=""><path fill="currentColor" d="M160 448h-32V224c0-17.69-14.33-32-32-32L32 192c-17.67 0-32 14.31-32 32s14.33 31.1 32 31.1h32v192H32c-17.67 0-32 14.31-32 32s14.33 32 32 32h128c17.67 0 32-14.31 32-32S177.7 448 160 448zM96 128c26.51 0 48-21.49 48-48S122.5 32.01 96 32.01s-48 21.49-48 48S69.49 128 96 128z"></path></svg><!-- <i class="fas fa-info"></i> Font Awesome fontawesome.com --> 앱 정보</strong></p>
                <span class="badge bg-primary">App Name</span>
                {{ step1['Appname'] }}<br>
                <span class="badge bg-primary">Package Name</span>
                {{ step1['pkname'] }}<br>
                <span class="badge bg-primary">Main Activity</span>
                {{ step1['MainActivity'] }}<br>
              </div>
            </div>

          </div>
        </div>
        </div>
    </div>
</div>